In [2]:
import pandas as pd
info_transcripts = pd.read_csv('all_info_transcripts_new.csv')
info_transcripts

      Unnamed: 0                                                  0
0              0                                    id: do8O1YxzdVg
1              1  if you don't like eating veggies this video is...
2              2                                    id: bpsKYwQffes
3              3  if you are not freezing your rice this is your...
4              4                                    id: 9RO83PiuQ-A
...          ...                                                ...
1525        1711  do you need a super simple thinner and I mean ...
1526        1712                                    id: 9r3uCzlBHIg
1527        1713  I'm a dietitian and a mom who does baby lead w...
1528        1715                                    id: EaOrwg8zwSk
1529        1716  man i think i maybe need to lose some weight h...

[1530 rows x 2 columns]

In [8]:
# cleaning for informative transcripts
# drop Unnamed: 0 column
info_transcripts.drop(columns=['Unnamed: 0'], inplace=True)

# Create an Id column
ids = []
# Iterate over the rows of the DataFrame
for i, row in info_transcripts.iterrows():
    # Check if the row index is even and if the row has at least one element
    if i % 2 == 0 and len(row) > 0:
        # Split the first element of the row by ': ' and get the second part if it exists
        id_value = row[0].split(': ')[1] if ': ' in row[0] else None
        # Append the ID to the list
        ids.append(id_value)
    else:
        # Append None if ID is not present in the row or if it's an odd-numbered row
        ids.append(None)

# Create a new column with the extracted ID values
info_transcripts['ID'] = ids

# fill odd-numbered rows with ids
info_transcripts['ID'] = info_transcripts['ID'].fillna(method='ffill')

# Delete even-numbered rows
infotranscripts_df = info_transcripts[~(info_transcripts.index % 2 == 0)]

#  Reset the index to make it consecutive
infotranscripts_df.reset_index(drop=True, inplace=True)

# Rename the column named '0' to 'transcripts'
infotranscripts_df.rename(columns={'0': 'transcript'}, inplace=True)

#reorder columns
infotranscripts_df = infotranscripts_df[['ID', 'transcript']]

infotranscripts_df

/var/folders/vn/7fmw_31101zcswm89qywd8ph0000gn/T/ipykernel_25882/4227489067.py:12: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  id_value = row[0].split(': ')[1] if ': ' in row[0] else None
/var/folders/vn/7fmw_31101zcswm89qywd8ph0000gn/T/ipykernel_25882/4227489067.py:23: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  info_transcripts['ID'] = info_transcripts['ID'].fillna(method='ffill')
/var/folders/vn/7fmw_31101zcswm89qywd8ph0000gn/T/ipykernel_25882/4227489067.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  infotranscripts_df.rename(columns={'0': 'transcript'}, inplace=True)

              ID                                         transcript
0    do8O1YxzdVg  if you don't like eating veggies this video is...
1    bpsKYwQffes  if you are not freezing your rice this is your...
2    9RO83PiuQ-A  if you don't like cooking and washing dishes b...
3    dI-Be4IehyQ  you've heard of sheep pan dinners but have you...
4    O_7ZvwhzqGg  if you like salads but hate preparing them thi...
..           ...                                                ...
760  h1HN1mUtlBE  here's what your favorite foods say about you ...
761  0pCBZYrGWqY  hear my thoughts on nutrition Trends and fads ...
762  wkvxzcQEXoE  do you need a super simple thinner and I mean ...
763  9r3uCzlBHIg  I'm a dietitian and a mom who does baby lead w...
764  EaOrwg8zwSk  man i think i maybe need to lose some weight h...

[765 rows x 2 columns]

info_transcriptonly = infotranscripts_df['transcript']

In [9]:
info_transcriptonly = infotranscripts_df['transcript']
info_transcriptonly

0      if you don't like eating veggies this video is...
1      if you are not freezing your rice this is your...
2      if you don't like cooking and washing dishes b...
3      you've heard of sheep pan dinners but have you...
4      if you like salads but hate preparing them thi...
                             ...
760    here's what your favorite foods say about you ...
761    hear my thoughts on nutrition Trends and fads ...
762    do you need a super simple thinner and I mean ...
763    I'm a dietitian and a mom who does baby lead w...
764    man i think i maybe need to lose some weight h...
Name: transcript, Length: 765, dtype: object

In [10]:
info_transcriptonly = infotranscripts_df['transcript']
info_transcriptonly.to_csv('info_transcriptonly.csv')

In [3]:
mis_transcripts = pd.read_csv('all_mis_transcripts_new.csv')
mis_transcripts

      Unnamed: 0                                                  0
0              0                                    id: zqdxQWTdIM4
1              1  I'm going to show you the absolute best natura...
2              2                                    id: aYV9EWaiz_Y
3              3  I'm going to give you three tips to help you l...
4              4                                    id: G4guVvCYAEA
...          ...                                                ...
2533        2591  here are five simple steps to help you create ...
2534        2592                                    id: ffF45hF4NV0
2535        2593  chase your dreams not excuses stop making reas...
2536        2594                                    id: c956Rmjfquw
2537        2595  five habits of successful people one they set ...

[2538 rows x 2 columns]

In [4]:
# cleaning for informative transcripts
# drop Unnamed: 0 column
mis_transcripts.drop(columns=['Unnamed: 0'], inplace=True)

# Create an Id column
ids = []
# Iterate over the rows of the DataFrame
for i, row in mis_transcripts.iterrows():
    # Check if the row index is even and if the row has at least one element
    if i % 2 == 0 and len(row) > 0:
        # Split the first element of the row by ': ' and get the second part if it exists
        id_value = row[0].split(': ')[1] if ': ' in row[0] else None
        # Append the ID to the list
        ids.append(id_value)
    else:
        # Append None if ID is not present in the row or if it's an odd-numbered row
        ids.append(None)

# Create a new column with the extracted ID values
mis_transcripts['ID'] = ids

# fill odd-numbered rows with ids
mis_transcripts['ID'] = mis_transcripts['ID'].fillna(method='ffill')

# Delete even-numbered rows
misinfotranscripts_df = mis_transcripts[~(mis_transcripts.index % 2 == 0)]

#  Reset the index to make it consecutive
misinfotranscripts_df.reset_index(drop=True, inplace=True)

# Rename the column named '0' to 'transcripts'
misinfotranscripts_df.rename(columns={'0': 'transcript'}, inplace=True)

#reorder columns
misinfotranscripts_df = misinfotranscripts_df[['ID', 'transcript']]

misinfotranscripts_df

/var/folders/vn/7fmw_31101zcswm89qywd8ph0000gn/T/ipykernel_25882/2117037906.py:12: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  id_value = row[0].split(': ')[1] if ': ' in row[0] else None
/var/folders/vn/7fmw_31101zcswm89qywd8ph0000gn/T/ipykernel_25882/2117037906.py:23: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  mis_transcripts['ID'] = mis_transcripts['ID'].fillna(method='ffill')
/var/folders/vn/7fmw_31101zcswm89qywd8ph0000gn/T/ipykernel_25882/2117037906.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  misinfotranscripts_df.rename(columns={'0': 'transcript'}, inplace=True)

               ID                                         transcript
0     zqdxQWTdIM4  I'm going to show you the absolute best natura...
1     aYV9EWaiz_Y  I'm going to give you three tips to help you l...
2     G4guVvCYAEA  the absolute number one most inflammatory food...
3     u0-U3-f4VHM  you know if you went to your kitchen right now...
4     llDg68l626M  all right we're at our favorite restaurant KFC...
...           ...                                                ...
1264  3SHtxj9nRpM  here are the top 5 foods to stay away from in ...
1265  9eeNkQNtfxY  are you looking to improve your diet but don't...
1266  PdLrENnDPbA  here are five simple steps to help you create ...
1267  ffF45hF4NV0  chase your dreams not excuses stop making reas...
1268  c956Rmjfquw  five habits of successful people one they set ...

[1269 rows x 2 columns]

In [5]:
misinfo_transcriptonly = misinfotranscripts_df['transcript']
misinfo_transcriptonly

0       I'm going to show you the absolute best natura...
1       I'm going to give you three tips to help you l...
2       the absolute number one most inflammatory food...
3       you know if you went to your kitchen right now...
4       all right we're at our favorite restaurant KFC...
                              ...
1264    here are the top 5 foods to stay away from in ...
1265    are you looking to improve your diet but don't...
1266    here are five simple steps to help you create ...
1267    chase your dreams not excuses stop making reas...
1268    five habits of successful people one they set ...
Name: transcript, Length: 1269, dtype: object

In [6]:
misinfo_transcriptonly.to_csv('misinfo_transcriptonly.csv')

In [ ]:
from transformers import pipeline
punctuator = pipeline('text2text-generation', model='oliverguhr/fullstop-punctuation-multilang-large')
def add_punctuation(text):
    return punctuator(text, max_length=len(text.split()) + 10)[0]['generated_text']
sample_text = misinfotranscript